:root {
  background: #dff6ff;
}

body {
  font-family: "Poppins";
}

h1 {
  font-size: xx-large;
}

.header {
  background-color: #06283d;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.container {
  font-size: x-large;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.harcamalar {
  text-align: center;
}

.btn {
  font-size: large;
  display: inline-block;
  background: transparent;
  color: inherit;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
  box-shadow: inset 0 0 10px 2px rgba(143, 143, 143, 0.753);
}

.buttonpng {
  float: right;
}

.plus {
  width: 3em;
  height: auto;
  float: right;
}
